<phpunit
  bootstrap="tests/bootstrap.php"
  colors="true"
  verbose="true">
  <testsuites>
    <testsuite name="Visitor Tests">
      <file>tests/VisitorBasicTest.php</file>
      <file>tests/VisitorHttpRequestTest.php</file>
      <file>tests/VisitorCollectTest.php</file>
      <file>tests/VisitorCookieTest.php</file>
      <file>tests/VisitorCrawlTest.php</file>
      <file>tests/VisitorBugsTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
